/* Styles for FTSE visualisations */

body {
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.btn-black {
    color: #fff;
    background-color: black;
}
.btn-dark {
    color: #fff;
    background-color: #545454;
}
.indent {
    margin: 0 1%;
}
#title {
    top: 1%;
    left: 35%;
    width: 30%;
    color: orange;
}
#dateControls {
    bottom: 5%;
    right: 1%;
    background-color: #979498;
    border-radius: 10px;
    padding: 1%;
}
#dateControls p {
    font-size: 1.2vw;
    color: white;
}
#info {
    top: 5%;
    left: 2.5%;
    width: 12.5%;
    font-size: 1.3vw;
    color: orange;
    background-color: #363636;
    border: solid orange 2px;
    border-radius: 5px;
    padding: 0.5% 1%;
}
#info p {
    background-color: black;
    border-radius: 5px;
    padding: 0 5px;
}