/* Styles for FTSE visualisations */

body {
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.indent {
    margin: 0 1%;
}
#title {
    top: 1%;
    left: 35%;
    width: 30%;
    color: orange;
}
#rotControls {
    bottom: 1%;
    right: 1%;
}
#info {
    top: 5%;
    left: 5%;
    width: 10%;
    font-size: 1.3vw;
    color: orange;
}