/* Styles for FTSE visualisations */

body {
    margin: 0;
    overflow: hidden;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.btn-black {
    color: #fff;
    background-color: black;
}
.btn-dark {
    color: #fff;
    background-color: #545454;
}
.indent {
    margin: 0 1%;
}
#title {
    top: 1%;
    left: 35%;
    width: 30%;
    color: orange;
}
#dateControls {
    bottom: 5%;
    right: 1%;
    width: 10%;
    background-color: #979498;
    border-radius: 10px;
    padding: 0.75%;
}
#dateControls p {
    font-size: 1.4vw;
    color: white;
    margin: 0;
}
#dateControls div {
    margin-bottom: 5%;
}
#dateControls img {
    width: 40%;
}
#dateControls button {
    width: 35%;
    padding: 1%;
    font-size: 1vw;
}
#viewControl button {
    width: 70%;
}
#info {
    top: 1.5%;
    left: 1%;
    width: 15%;
    font-size: 1.3vw;
    color: orange;
    background-color: #363636;
    border: solid orange 2px;
    border-radius: 35px;
    padding: 0.5% 1%;
}
#info p {
    background-color: black;
    border-radius: 20px;
    padding: 0 5px;
}
#message {
    bottom: 5%;
    width: 33.3%;
    left: 33.3%;
    font-size: 1.5vw;
    color: white;
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 1%;
}
#message img {
    width: 10%;
}
#instructions {
    left: 1%;
    bottom: 2%;
}
#instructions img {
    width: 50%;
}
#notSupported {
    top: 20%;
    left: 12.5%;
    width: 75%;
    background-color: #3e3e3e;
    color: white;
    font-size: 1.25vw;
    border-radius: 15px;
    padding: 1%;
}
#copyright {
    left: 8%;
    bottom: 1%;
    color: white;
    font-size: 1vw;
}