/* Styles for FTSE Visualisation */

body {
    margin: 0;
    overflow: hidden;
    color: white;
}
.panel {
    position: absolute;
}
#title {
    top: 1%;
}
#info {
    bottom: 1%;
    left: 1%;
    width: 4%;
}
#copyright {
    bottom: 1%;
    right: 1%;
    width: 15%;
}
#infoTab {
    top: 15%;
    left: 0;
    width: 15%;
    cursor: pointer;
}
#controlTab {
    top: 20%;
    right: 1%;
    width: 8%;
    cursor: pointer;
}
.sideNavLeft {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideNavRight {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 25%;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sideNavLeft .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}