/* Styles for FTSE Visualisation */

body {
    margin: 0;
    overflow: hidden;
    color: white;
}
.panel {
    position: absolute;
}
#title {
    top: 1%;
}
#info {
    bottom: 1%;
    left: 1%;
    width: 4%;
}
#copyright {
    bottom: 1%;
    right: 1%;
    width: 15%;
}
#infoTab {
    top: 33%;
    left: 0;
    width: 5%;
}